In [ ]:
# solve the following task
# 1.count the number of words and the distinct words
# 2.using list addition and the set and sorted opereations compute the vocabulary of the sentences sent1.....sent8
# 3.define sent to be the list of words ['she','sells','sea','shells','by','the','sea','shore'] now write the code to perform the following tasks
# 4.print all the words beggining with sh
# 5.print all the words longer than four characters

In [ ]:
import numpy as np
import pandas as pd
text="She sells sea shells by the sea shore, the shells she sells are surely seashells, so if she sells sea shells into the sea shore, I am sure that the shells are sea shore shells."
words=text.split()
print(f'the number of words in the dataset is {len(words)}')

the number of words in the dataset is 35

In [ ]:
voc=set(words)
print(f'the number of words in the dataset is {len(voc)}')

the number of words in the dataset is 20

In [ ]:
sorted(voc)
# print(words)
vocab=" ".join(voc)
print(vocab)

that shore sells by am seashells, so shells. into She sure shore, she shells sea are surely I the if

In [ ]:
sent=['she','sells','sea','shells','by','the','sea','shore']

In [ ]:
print(list(filter(lambda x:x.startswith('sh'),sent)))

['she', 'shells', 'shore']

In [ ]:
print(list(filter(lambda x:len(x)>4,sent)))

['sells', 'shells', 'shore']